app:
    name: go-restful-api

server:
    host: localhost
    port: 8080

database:
    host: localhost
    port: 5432
    name: users_db
    username: your_username
    password: your_password

jwt:
    expired: 3600
    issuer: go-restful-api
    secret: your_secret_key

